/*filters*/

.filter-button-wrap {
  display: block;
  right:100px;
  max-width: 100px;
  float: right;
  margin-top: 6px;
  @include respond-to(small-screens) {margin-top: 0}
  @include respond-to(medium-screens) {margin-top: 9px;}
  a {
    color: $color-blue;
    text-decoration: none;
    text-transform: uppercase;
    span{
      @include respond-to(small-screens) { display: none }
    }
    i {
      margin-right: 5px;
      margin-left:5px;
      @include respond-to(small-screens) { font-size: x-large}
    }
  }
  a:hover{
    color: $color-blue-light;
    transition: all, .2s;
  }
}

.filter-item {
  background: $color-filter-item;
  color: $color-text-light;
  font-size: 14px;
  display: inline-block;
  padding: 2px 0 0 10px;
  border-radius: 15px;
  color: $color-text-light;
  vertical-align: top;
  margin: 2px;
  span {
    color: $color-text-body;
    display: inline-block;
    max-width: 200px;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 3px; /* Поля */
    text-overflow: ellipsis; /* Многоточие */
    float: left;
    font-weight: 100;
    @include respond-to(small-screens) {
      font-size: small;
    }
  }
  a {
    float: right;
    display: inline-block;
    color: $color-text-body;
    margin: 4px 10px;
    font-size: 12px;
    z-index: 2;
    @include respond-to(small-screens) {
      margin: 2px 8px 0 5px;
    }
    i {
      @include respond-to(small-screens) {
        font-size: x-small;
      }
    }
  }
}