header {
  .navbar {
    .container-fluid {
      padding: 0 5px;
      .navbar-header {
        margin: 0 !important;
        @include respond-to(medium-screens) {
          float: none;
        }
        .navbar-toggle {
          float: left;
          @mixin navbar-toggle-block {
            display: block;
            margin-right: 0;
          }
          @include respond-to(small-screens) {
            @include navbar-toggle-block;
          }
          @include respond-to(medium-screens) {
            @include navbar-toggle-block;
          }
          @include respond-to(large-screens) {
            @include navbar-toggle-block;
            display: none;
          }
          @include respond-to(wide-screens) {
            @include navbar-toggle-block;
            display: none;
          }
        }/*navbar-toogle*/
        .navbar-brand {
          @include respond-to(medium-screens) {
            margin-left: 0;
          }
          @include respond-to(large-screens) {
            margin-left: 0;
          }
          @include respond-to(wide-screens) {
            margin-left: 0;
          }


        }/*navbar-brand*/
        .btn-login {
          background-color: $color-login-light;
          min-width: 40px;
          margin-top: 10px;
          color: $color-text-light;
          float: right;
          border-radius: 5px;
        }
        .btn-login:hover, .btn-login:focus {
          color: $color-text-grey;
          background-color: $color-login;
          outline: none !important;
          transition: all, .2s;
        }
        .btn-login:active {
          @extend .btn-login:hover;
          background-color: $color-login-light;
          transition: all, .5s;
        }
      }/*navbar-header*/
    }
  } /*navbar*/

  .search-wrap {
    position: fixed;
    padding: 5px;
    z-index: 1;
    @include respond-to(small-screens) {
      background: $color-light-grey;
      position: fixed;
      top: 50px;
      padding: 5px;
      z-index: 1;
    }
    @mixin search-top {
      position: fixed;
      top: 5px;
      margin-right: 60px;
      margin-left: 270px;
    }
    @include respond-to(medium-screens) {
      @include search-top;
      z-index: 1030;
    }

    .input-group-btn {
      .btn-group {
        display: flex !important;
      }
    }
    .btn {
      border: 1px solid #ccc;
    }
    .btn:hover {
      transition: all, .5s;
    }
    .form-group {
      margin: 10px;
    }
    .dropdown-toggle {
      border-radius: 0;
      height: 34px;
    }
    .btn-search {
      border-radius: 4px;
      margin-left: -1px;
    }
    .btn-add-ad {
      border-radius: 4px;
      display: block;
      margin: 0 10px;
      width: calc(100% - 20px);
    }
    .btn-add-ad {
      .glyphicon {
        margin-right: 5px;
      }
    }

    .section-ad-wrap {
      display: inline;
      position: relative;
      select {
        appearance: none;
        border-color: $color-blue!important;
      }
      select:hover {
        background-color: $color-light-grey;
      }
    }
  }/*search-wrap*/
}/*header*/


/*header large*/
header {
  @mixin header-large-mixin {
    background: url(../img/panoram.jpg) no-repeat center/cover;
    width: 100%;

    .navbar-fixed-top {
      position: inherit;
    }
    .navbar {
      max-width: $width-content;
      margin: auto;
      border: none;
      background: none;
      .container-fluid {

        span.search-container-header {
          font-size: 28px;
          color: $color-login-text;
        }
        .navbar-header {
          width: 100%;
          padding-bottom:30px;

          .navbar-toggle {
          }

          .navbar-brand {
            img.logo-large {
              height: $height-logo-img-lg;
            }
            margin-top:14px;
            padding: 15px 0;
          }
          .btn-login {
            margin-top: 0;
            border-radius: 0;
            background-color: $color-login;
            width: $width-login-lg;
            height: 58px;
            padding: 12px 0;
            font-size: 24px;
            color: $color-login-text;
            border:none;
            outline: none;

            span.login-text  {
              display: inline-block!important;
            }
          }
        }
      }
    }

    .search-wrap {
      position: relative;
      display: block;
      margin: 0 auto;
      top:0;
      max-width: $width-content;
      padding: 22px 5px 70px 5px;



      .input-search{
        display: inline;
        position: inherit;
        font-weight: 300;
        color: $color-text-body;
        min-height: $height-controls;
        font-size: large;
        border: 5px solid $color-blue;
        border-width: 5px 0 5px 5px;
        border-radius: 0;
        width: calc(100% - 130px - #{$width-add-ad-lg} - #{$width-search-button-lg} - #{$width-search-button-lg});
        box-sizing: border-box;

      }
      select {
        max-width: $width-add-ad-lg;
        min-height: $height-controls;
        border: 5px solid $color-blue;
        border-width: 5px 5px 5px 0;
        box-sizing: border-box;
        font-size: large;
        color: $color-text-grey;
        cursor: pointer;
      }

      .input-group-btn {
        display: inline;

        .btn-group {
          display: block;
          .btn {
            display: block;
          }

          .form-group {
            display: block;
          }
          .dropdown-toggle {
          }
          .btn-search {
            margin-left: 20px;
            min-height: $height-controls;
            font-size: large;
            width: $width-search-button-lg;
            border: none;
          }
          .btn-add-ad {
            margin: 0 0 0 20px;
            min-height: $height-controls;
            font-size: large;
            width: $width-add-ad-lg;
            border: none;
          }
          .btn-add-ad {
            .glyphicon {
            }
          }
        }
      }
      .example-text-wrap {
        margin: 2px 0;
        display: block;
        span {
          color: $color-text-light;
          font-size: 12px;
        }
      }
    }
  }
  @include respond-to(large-screens) {
    @include header-large-mixin;
  }
  @include respond-to(wide-screens) {
    @include header-large-mixin;
  }
}

.worker-wrap {
  position: absolute;
  left: -205px;
  transform: rotate(25deg);
  @include respond-to(small-screens) {
    display: none;
  }
  @include respond-to(medium-screens) {
    display: none;
  }
  @include respond-to(large-screens) {
    display: none;
  }
}