@import 'main';
main.main-add-ad {
  padding: 0 5px 5px 5px;
  margin:0;
  @include respond-to(small-screens) {
    margin-top: 90px;
  }
  @include respond-to(medium-screens) {
    margin-top: 45px;
  }
  .main-content{
    background: #fff;
    border: 1px solid $color-light-grey;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px -1px 6px -3px #000000;
    .product-gallery {
     .pgwSlider {
       display: inline-block;
     }
    }
    h2 {
      @include respond-to(small-screens) {
        font-size: 22px;
      }
    }
    .magic-checkbox+label, .magic-radio+label {
      display: inline-block;
      margin:10px 20px 10px 0;
    }
    input , textarea{
      margin: 5px auto;
    }
    #map {
      padding-top: 5px;
      width:100%;
      height: 300px;
      @include respond-to(small-screens) {
        height: 200px;
      }
    }
    .big-btn {
      width:100%;

      height: 50px;
      border: none;
      border-radius: 0;
      font-size:large;
      @include respond-to(small-screens) {
        font-size:medium;
        height: auto;
      }
    }
    .btn-next {
      width: auto;
      margin: 5px;
      float: right;
      @include respond-to(small-screens) {
        width: calc(100% - 10px);
        display: block;
        float: none;
      }
    }
    .btn-prev {
      @extend .btn-next;
      float: left;
    }
    .step-nav-wrap {
      padding-left: 15px;
      padding-right:15px;
    }
    .preview{
      padding: 10px;
      border: 1px solid $color-text-grey;
      border-radius: 5px;
      box-sizing: border-box;
    }
    .view-ad-wrap {
      padding: 30px 0;
    }
    select {
      display: block;
      width: 100%;
      padding: 5px;
      margin-bottom:10px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .face-type-wrap {
      margin-bottom:30px;
      margin-top:-10px;
    }
    .form-group {
      margin-top:20px;
      .ad-article-title {
        padding-bottom:10px;
      }
      .ad-article-content {
        label{
          font-weight:normal;
          margin: 0 0 -5px 0;
        }
        label:not(:first-child){
          margin: 10px 15px -5px 0;
        }
      }
    }
    .product-card-title {
      .product-price {
        display: inline-block;
        margin-right:20px;
        span {
          font-size:30px;
          color: $color-blue;
        }
      }
      .product-title {
        display: inline-block;
        font-size:24px;
        color: $color-text-body;
      }
    }
    .horizontal-buttons {
      .left-button{
        display: inline-block;
        width: calc(50% - 10px);
        height: 50px;
        margin-right:15px;
        @include respond-to(small-screens) {
          height: 40px;
          margin-right: 2px;
          width: calc(50% - 5px);
        }
      }
      .right-button{
        @extend .left-button;
        margin-right:0;
      }
    }
    .product-description {
      margin:30px 0 20px 0;
      .product-desc-item{
        display: inline-block;
        margin-right: 40px;
      }
    }
    .product-text {
      line-height: 1.42;
      margin:20px 0;
    }

    .product-tags{
      margin-bottom: 20px;
      .product-tagc-item {
        display: inline-block;
        padding: 10px;
        background: $color-filter-item;
        box-sizing: border-box;
      }
    }
    .navigation-buttons{
      display: block;
      height: 60px;
      margin:30px 0 20px 0;
      @include respond-to(small-screens) {
        height: 60px;
      }
    }
    .more-space-updown {
      margin:60px 0 40px 0;
    }
  }
}

/*Steps*/
/*Form Wizard*/
.bs-wizard {margin-top: 40px;}
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;@include respond-to(medium-screens) {font-size: 12px;} }
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: $color-blue-light; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background:  $color-blue; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background:  $color-blue-light;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/