ol, ul { list-style: none; padding-left: 0;}

.menu-wrap {
  display: block;
  width: 100%;
  top: 0;
  font-size: 14px;
  margin: -10px 0 0 0;
  padding: 0;

  .ul-wrap {
    display: inline-block;
    width: 280px;
    font-family: Roboto;
    font-weight: 100;
    font-size: 14px;

    li {
        text-indent: 0;
        line-height: 45px;
        list-style: none;
      a {
        color: $color-text-body;
        display: block;
        padding: 3px 5px;
        text-decoration: none;
        .sidebar-icon {
            width: 45px;
            height: 45px;
            font-size: 14px;
            padding: 0 2px;
            display: block;
            text-indent: 7px;
            color: $color-text-body;
            float: left;
            vertical-align: top;
          }
          .sidebar-title {
            position: relative;
            width: 150px;
            top: -1px;
            display: inline-block;
            line-height: 13px;
            vertical-align: middle;
          }
          .caret {
            right: 23px;
            top: auto;
            display: inline-block;
            margin:0;
          }
        span>i {
          margin-right:10px;
        }
      }
      a:hover{
        background-color: $color-text-hover-background;
        transition: all, .2s;
      }
      a:hover, .ul-wrap > li > a.open {
        background-color: $color-text-hover-background;
        transition: all, .2s;
      }
      ul {
        display: none;
        li a {
          display: block;
          background: none;
          text-decoration: none;
          color:$color-text-body;
          font-weight:100;
          padding: 15px 5px 15px 70px;
          line-height: 15px;
          text-shadow: 1px 1px 0 $color-text-light;
        }
      }
    }
    li.active {
      background-color: $color-text-hover-background;
    }
  }
}