@charset "UTF-8";

$font-body: 14px 'Roboto';

$color-light-grey: #f9f9f9;
$color-text-body: #707070;
$color-text-grey: #aaa;
$color-text-dark: #666;
$color-login: #432e29;
$color-login-light: #57423d;
$color-text-light: #ffffff;
$color-blue: #2288cc;
$color-blue-light: #46acf0;
$color-text-about: #808080;
$color-filter-item: #eaeaea;
$color-text-hover-background: #eaeaea;
$color-login-text: #f9f9f9;

$small: 750px;
$medium: 992px;
$large: 1200px;

$width-content: 1140px;
$width-content-lg: 850px;
$width-sidebar-lg: 290px;
$width-search-input-lg: 690px;
$width-search-button-lg: 114px;
$width-add-ad-lg: 250px;
$width-dropdown-searsh: 226px;
$width-login-lg: 128px;

$height-header-lg: 310px;
$height-logo-container-lg: 100px;
$height-logo-img-lg: 28px;
$height-content: 1000px;
$height-footer: 100px;
$height-controls: 62px;
$height-footer-cities: 300px;

@mixin respond-to($media) {
  @if $media == small-screens {
    @media only screen and (max-width: $small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $small + 1) and (max-width: $medium - 1) { @content; }
  }
  @else if $media == large-screens {
    @media only screen and (min-width: $medium + 1) and (max-width: $large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $large + 1) { @content; }
  }
}


